<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well upskill-well">
                <%= link_to "//upskillcourses.com" do %>
                    <h1 class="text-center">Upskill</h1>
                <% end %>
                <h3>Upskill Software as a Service Course</h3>
                <%= link_to "//upskillcourses.com" do %>
                    <h5>upskillcourses.com</h5>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "//javascript30.com" do %>
                    <h1 class="text-center">Javascript30</h1>
                <% end %>
                <h3>30 Challenges to help teach Javascript</h3>
                <%= link_to "//javascript30.com" do %>
                    <h5>javascript30.com</h5>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well mun-well">
                <%= link_to "//www.mun.ca" do %>
                    <%= image_tag "https://www.mun.ca/marcomm/brand/standards/logos/MUN_Logo_RGB.png" %>
                <% end %>
                <h3>Local University</h3>
                <%= link_to "//www.mun.ca" do %>
                    <h5>mun.ca</h5>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well reddit-well">
                <%= link_to "//reddit.com" do %>
                    <%= image_tag "http://dwglogo.com/wp-content/uploads/2015/11/1500px-Reddit-Logo.png" %>
                <% end %>
                <h3>r/learnprogramming, r/webdev, and more are great resources</h3>
                <%= link_to "//reddit.com" do %>
                    <h5>reddit.com</h5>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "//khanacademy.org" do %>
                    <h1 class="text-center">Khan Academy</h1>
                <% end %>
                <h3>Great resource for many subjects but also contains some computer science topics</h3>
                <%= link_to "//khanacademy.org" do %>
                    <h5>khanacademy.org</h5>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "//edx.org" do %>
                    <h1 class="text-center">edX</h1>
                <% end %>
                <h3>edX Courses including Harvard's CS50 and Intro to Linux</h3>
                <%= link_to "//edx.org" do %>
                    <h5>edx.org</h5>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "//codeabbey.com" do %>
                    <h1 class="text-center">CodeAbbey</h1>
                <% end %>
                <h3>Programming challenges</h3>
                <%= link_to "//codeabbey.com" do %>
                    <h5>codeabbey.com</h5>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "//codecademy.com" do %>
                    <h1 class="text-center">Codecademy</h1>
                <% end %>
                <h3>Lessons in various programming languages and topics</h3>
                <%= link_to "//codecademy.com" do %>
                    <h5>codecademy.com</h5>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "//codingame.com" do %>
                    <h1 class="text-center">Codingame</h1>
                <% end %>
                <h3>Leanr to code by programming game mechanics</h3>
                <%= link_to "//codingame.com" do %>
                    <h5>codingame.com</h5>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "//projecteuler.net" do %>
                    <h1 class="text-center">Project Euler</h1>
                <% end %>
                <h3>Programming challenges</h3>
                <%= link_to "//projecteuler.net" do %>
                    <h5>projecteuler.net</h5>
                <% end %>
            </div>
        </div>
    </div>
</div>