<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <%= link_to "/#" do %>
                    <h1 class="text-center">Merasheen</h1>
                <% end %>
                <h3>Merasheen Island Ride Share</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "/#" do %>
                    <h1 class="text-center">Javascript30</h1>
                <% end %>
                <h3>Javascript30.com Challenges</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "/#" do %>
                    <h1 class="text-center">Brazil Boutique</h1>
                <% end %>
                <h3>Ecommerce App for my sister's store</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "/#" do %>
                    <h1 class="text-center">The Pantry</h1>
                <% end %>
                <h3>Complete food tracking solution</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <%= link_to "/#" do %>
                    <h1 class="text-center">DartScore</h1>
                <% end %>
                <h3>Dart Scoring and Stats Tracker</h3>
            </div>
        </div>
    </div>
</div>