<!DOCTYPE html>
<html>
  <head>
    <title>Nick Pomroy</title>
    <%= csrf_meta_tags %>
    
    <link href="//fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa fa-code"></i>
            Nick Pomroy
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-left">
            <!--Temp conditional-->
            <% if user_signed_in? %>
              <li><%= link_to "Web Apps", web_apps_path %></li>
              <li><%= link_to "Where I Learned", schools_path %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Users", users_path %></li>
              <% if current_user.profile %>
                <li><%= link_to current_user.profile.first_name << " " << current_user.profile.last_name[0] << ".", user_path(id: current_user.id) %></li>
              <% else %>
                <li><%= link_to "Create Profile", new_user_profile_path(user_id: current_user.id) %></li>
              <% end %>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
            <% else %>
              <%= link_to "Login", root_path, class: "btn btn-default navbar-btn" %>
              <%= link_to "Sign Up", root_path, class: "btn btn-default navbar-btn" %>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="container flash-container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
